{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true }],
    "react/jsx-filename-extension": "off",
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ]
  },
  "env": {
    "jest": true
  }
}
