{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "comma-dangle": ["error", {
      "arrays": "never",
      "objects": "never",
      "imports": "never",
      "exports": "never",
      "functions": "never"
    }],
    "react/jsx-props-no-spreading": ["error", {
      "html": "ignore",
      "custom": "ignore",
      "exceptions": [""]
    }],
    "arrow-parens": [2, "as-needed", { "requireForBlockBody": false }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "prettier/prettier": ["error",
      {
        "singleQuote": true,
        "trailingComma": "none",
        "arrowParens": "avoid"
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/no-danger": "off",
    "import/no-extraneous-dependencies": ["error", {"devDependencies": ["importers/**/*.js"]}],
    "react/jsx-curly-newline": "off", // already handled by prettier, but differently, so we have to disable one
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true
      }
    ]
  },
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "window": true
  }
}
