@import url('https://fonts.googleapis.com/css?family=Anton%7CMontserrat:500,700,800');

/** move to a reset file */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  font-family: 'Anton', Impact, sans-serif;
  margin-top: 0;
}

p,
a,
button {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}
