@import url('https://fonts.googleapis.com/css?family=Anton%7CMontserrat:400,500,600,700&display=swap');

@font-face {
  font-family: 'Founders-GroteskXCondensed-Bold';
  src: url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskX-CondensedWeb-Bold.eot');
  src: url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskX-CondensedWeb-Bold.woff2')
      format('woff2'),
    url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskX-CondensedWeb-Bold.woff')
      format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Founders-Grotesk-Semibold';
  src: url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskWeb-Semibold.eot');
  src: url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskWeb-Semibold.woff2')
      format('woff2'),
    url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskWeb-Semibold.woff')
      format('woff');
  font-display: fallback;
}
@font-face {
  font-family: 'Founders-Grotesk-Regular';
  src: url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskWeb-Regular.eot');
  src: url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskWeb-Regular.woff2')
      format('woff2'),
    url('https://d1r885f187bvv1.cloudfront.net/FoundersGroteskWeb-Regular.woff')
      format('woff');
  font-display: fallback;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
}

/* Resets to override browsers' user agent stylesheets */
h1, h2 {
  text-transform: uppercase;
  font-family: 'Anton', Impact, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  word-break: break-word;
  margin: 0 0 1rem 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child
h6:last-child,
p:last-child {
  margin-bottom: 0;
}

h2, h3, h4, h5, h6, p, a, button {
  font-family: inherit;
}

p, a, button {
  margin-top: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  word-break: normal;
}

table td {
  padding: 10px;
}

/* Blur effect lazyload images */
.ls-blur-up-is-loading {
  visibility: hidden;
}

.ls-blur-up-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;

  /* only if you want to change the blur-up option from always to auto or want to use blur up effect without a lowsrc image. */
  font-family: 'blur-up: auto', 'object-fit: cover';
  object-fit: cover;
}

.ls-blur-up-img {
  filter: blur(10px);
  opacity: 1;
  transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  filter: blur(5px);
}

a { 
  color: inherit;
}

a:hover, a:focus { 
  text-decoration: none;
}
