/* Overiding the extra Styleguidest / preview styles */
.rsg--preview-35 {
    padding: 0 !important;
    border: none !important;
}

.rsg--content-3 {
    padding: 0 !important;
}

.rsg--header-11,
.rsg--tabs-12 {
    display: none !important;;
}
